<ion-view view-title="about page">
  <ion-content scroll="false">
    <div class="pagescolor">

      <div class="buttons-about">

        <h1 class="about-title">
          אודות
        </h1>

        <h2 class="about-text">מ"מ ראש מדור-רס"ל שרי חזי
          <br>תכנות האפליקציה-רב"ט אורן אחרק
          <br>עיצוב המשחק-סמ"ר אלעד מאור
          <br>מומחה תוכן- סרן עדי קלדרון
          <br>ניהול ובקרת התהליך-רס"ל שרי חזי</h2>
        <button class="button back-button-about" ui-sref="home">חזור</button>
      </div>

      <div class="bottom img">
        <img src="img/openscreen.png" class="tripic">
      </div>
    </div>
  </ion-content>
</ion-view>
