<ion-view view-title="home page">
  <ion-content scroll="false">


    <div class="pagescolor">

      <div class="buttons">

        <h1 class="main-title">
          יש לי מושג
        </h1>

        <button class="button to-game" ui-sref="gameoptions">התחל לשחק</button>

        <div class="about-instruction">
          <button class="button to-about" ui-sref="about"> אודות </button>
          <button class="button to-instruction" ui-sref="instruction"> הוראות </button>
        </div>
      </div>

      <div class="bottom img">
        <img src="img/openscreen.png" class="tripic">
      </div>



    </div>

  </ion-content>
</ion-view>
