<ion-view view-title="instruction page">
  <ion-content scroll="false">



    <div class="buttons-about">

      <h1 class="about-title">
        הוראות
      </h1>


      <h2 class="instruction-text">
        לרשותך שני סוגי קלפים: מושג והגדרה
        <br> מטרת המשחק להתאים את כל המושגים להגדרות שלהן
        <br> בכל סבב עלייך לפתוח קלף אחד מקלפי המושג וקלף אחד מקלפי ההגדרה
        <br> אם תחליט שהמושג וההגדרה שפתחת אינם תואמים לחץ שוב על הקלף בשביל לסגור אותו
        <br> כאשר תחליט שהמושג וההגדרה תואמים לחץ על התאם
        <br> במידה וצדקת המושג יעבור למילון המושגים
        <br> במידה וטעית הקלפים יחזרו למקומם ותצבור פסילה
      </h2>
      <div class="instructions-buttons">
        <button class="button togame-button-instructor" ui-sref="gameoptions">התחל לשחק</button>
        <button class="button back-button-instruction" ui-sref="home">חזור</button>


      </div>
    </div>

    <div class="bottom img">
      <img src="img/openscreen.png" class="tripic">
    </div>

  </ion-content>
</ion-view>
